config.json

app.code-workspace
modules/__pycache__/*.pyc
.gitignore
modules/KIS/__pycache__/*.pyc
modules/__pycache__/*.pyc
modules/KIS/Data/*.csv
modules/KIS/Data/Date_list.pkl
*.ipynb
modules/KIS/Data/stock_price/*.csv
