config.json

app.code-workspace

.gitignore

*.pyc
modules/KIS/Data/*
*.ipynb


Data/*
ysh/*
Anaconda3-2023.03-Linux-x86_64.sh

/app/AutoML Stock Model Platform.py
models/*
.DS_Store
*.png
*.log
*.json